name: arta

services:
    bot:
        build:
            context: .
            dockerfile: Dockerfile
        image: mayusha256/arta:latest
        container_name: bot
        restart: unless-stopped
        environment:
            - TELEGRAM_TOKEN=${TELEGRAM_TOKEN}
            - OLLAMA_HOST=${OLLAMA_HOST}

    qdrant:
        image: qdrant/qdrant:v1.16-gpu-nvidia
        restart: unless-stopped
        container_name: qdrant
        ports:
            - 6333:6333
            - 6334:6334
        expose:
            - 6333
            - 6334
            - 6335
        volumes:
            - qdrant:/qdrant/storage
        environment:
            - QDRANT__GPU__INDEXING=1
        deploy:
            resources:
                reservations:
                    devices:
                        - driver: nvidia
                          count: all
                          capabilities: [gpu]

    ollama:
        image: ollama/ollama:0.14.3
        container_name: ollama
        ports:
            - "11434:11434"
        volumes:
            - ollama:/root/.ollama
        pull_policy: always
        tty: true
        restart: unless-stopped
        deploy:
            resources:
                reservations:
                    devices:
                        - driver: nvidia
                          count: all
                          capabilities: [gpu]

volumes:
    qdrant:
        driver: local
    ollama:
        driver: local
