name: arta

services:
    bot:
        build:
            context: .
            dockerfile: Dockerfile
        image: mayusha256/arta
        container_name: bot
        restart: unless-stopped
        environment:
            - TELEGRAM_TOKEN=${TELEGRAM_TOKEN}
